body {

    .message {
        border: 1px solid black;
        width: 45rem;
    }

    .picture-trash-delete {
        width: 30px;
    }
    .container-update-messages {
        p {
            display: inline;
            &:hover {
                cursor: pointer
            }
        }
    }
}