body {

    .message {
        border: 1px solid black;
        width: 45rem;
    }

    .picture-trash-delete {
        width: 30px;
    }

    div {

        section {

            li {

                pre {

                    p {

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}